.layout {
  width: var(--flyout-width);
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  min-width: 360px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app__layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: bottom 0.3s ease-out;
}

.app__layout_none {
  bottom: var(--flyout-height-hidden);
}

.layout-button {
  border: 1px solid lightblue;
  background-color: lightblue;
  border-radius: 4px;
}

@media (hover: hover) {
  .layout-button:hover {
    cursor: pointer;
    background-color: #8dcfec;
  }
}
