.search {
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
}

.search__input {
  width: 50%;
  min-width: 200px;
  padding: 5px;
}

[data-theme='dark'] .search__input {
  background-color: #1f1f1f;
  border-color: #fefdfb;
  color: #fefdfb;
}

.search__button {
  margin-left: 5px;
}
