.results__container {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.results__heading {
  margin-top: 24px;
  font-size: 20px;
  text-align: center;
}

.results__subheading {
  margin-bottom: 20px;
}

[data-theme='dark'] .results__heading,
[data-theme='dark'] .results__subheading {
  color: #fefdfb;
}
